*{
    margin: 0px;
    padding: 0px;
}
div{
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: wrap ;
    justify-content: space-evenly;
    align-self: flex-end;
    border: 1px solid red;
}
.c1{
    width: 100px;
    height: 100px;
    background-color: blue;
    align-content: center;
}
.c2{
    width: 100px;
    height: 100px;
    background-color: yellow;
}
.c3{
    width: 100px;
    height: 100px;
    background-color: rgb(89, 122, 133);
}

